@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;600;700;800;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
    --mycolor01: #D3B7D8;
    --mycolor02: #A13E97;
    --mycolor03: #632A7E;
    --mycolor04: #280E3B;
    --mycolor05: #102940;
    --mycolor06: #999999;
    --mycolor07: rgba(0, 0, 0, .1);
    --textcolor01: #f3f1f5;
    --textcolor02: rgb(128, 161, 153);
    --textcolor03: rgb(15, 17, 173);
    --textcolor04: rgb(133, 18, 18);

}


body {
    font-family: 'Zen Maru Gothic', serif;
}

.fw-900 {
    font-weight: 900;
}

.fw-800 {
    font-weight: 800;
}

.fw-200 {
    font-weight: 200;
}

.fw-100 {
    font-weight: 100;
}

.mr-1 {
    margin-right: 1px;
}

.mr-2 {
    margin-right: 2px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-5 {
    margin-right: 5px;
}

.textcolor01 {
    color: var(--textcolor01);
}

.textcolor02 {
    color: var(--textcolor02);
}

.textcolor03 {
    color: var(--textcolor03);
}

.bg-cover {
    background-position: center center;
    background-size: cover;
}

.demo{
    width: 70%;
    padding: 25px;
    margin: 25px;
    border: 2px solid var(--mycolor01);
}